<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- Normalize -->
		<link rel="stylesheet" href="../../css/normalize.css?{{ cacheBuster }}" media="all" />
		<!-- Stable theme CSS -->
		<link rel="stylesheet" href="../../css/stable-theme.css?{{ cacheBuster }}" media="all" />
		<!-- Shila theme CSS -->
		<link rel="stylesheet" href="../../css/base.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/layout.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/component.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/state.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../css/theme.css?{{ cacheBuster }}" media="all" />
		<!-- Style guide specific -->
		<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
